.bg-white {
    background-color: white;
}
.navbar {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
#nav-brand {
    padding: 8px;
    margin: 0px 0px 0px 50px;
    border: 0%;
}
.sum-img {
    max-height: 200px;
}
.sum-con {
    padding: 10px;
    margin-bottom: 20px;
}
.vis-con {
    padding: 10px;
}
.vis-img {
    max-width: 100%;
}
.active-vis {
    border: 2px solid #5bc0de;
}
.content-title {
    margin: 35px 0px 0px 25px;
}
.footer {
    position: fixed;
    bottom: 0;
    margin: 0%;
    padding: 0%;
    border: 0%;

}
#footer-info {
    height: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
#footer-secondary {
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
th {
    padding: 5px;
}
td {
    padding: 5px;
}